<div class="title">
    <h1>Director del CTIC</h1>
</div>

<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button mat-raised-button color="warn">Bandeja de Entrada</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>


<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button [routerLink]="['/listProyectos']" mat-raised-button color="warn">Lista de Proyectos</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>

<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button mat-raised-button color="warn">Registrar Evaluacion</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>
