<div class="title">
    <h1>Jefe de Proyectos</h1>
</div>

<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button mat-raised-button color="warn">Bandeja de Entrada</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>

<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button mat-raised-button color="warn">Registro Encargo Interno</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>

<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button mat-raised-button color="warn">Visualizar Estado de Encargos Internos</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>

<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button mat-raised-button color="warn">Visualizar Evaluacion de Encargo Interno</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>

<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button mat-raised-button color="warn">Modificar Encargo Interno Existente</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>

<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button mat-raised-button color="warn">Cerrar Sesion</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>
