<div class="title">
    <h1>Administrador</h1>
</div>

<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button [routerLink]="['/listUsuarios']" mat-raised-button color="warn">Gestion de Usuarios</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>


<div class="container">
    <section>
        <div class="example-button-row" class="botones">
          <button mat-raised-button color="warn">Cerrar Sesion</button>
        </div>
    </section>
    <mat-divider></mat-divider>
</div>



